body {
    font-family: "Inter", sans-serif;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 300;
    text-shadow: 0px 0px 1px black;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.413);
    border-radius: 10px;
    min-width: 160px;
    padding: 20px;
    height: 175px;
}

#card-2 {
    background-color: black;
    color: white;
}

#card-3 h2 {
    background-color: rgba(255, 0, 0, 0.247);
    padding-left: 10px;
}

#card-4 {
    border-color: blue;
}

#card-4 h2 {
    color: red;
}