body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.1vw;
    /* background-color: rgb(178, 178, 255); */
    width: 90%;
    flex-direction: column;
    margin: auto;
    background-color:seashell;
}

#return a {
    color: rgb(243, 0, 186);
    font-size: 20px;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(178, 178, 255);
}

#overall-collage-container {
    display: flex;
    width: auto;
    max-height: 100%;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.image_container {
    width: 9%;
    background: #ffffff;
    padding: 0.3rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
}

img {
    width: 100%;
}

.image_container:hover {
    transform: scale(3) rotate(0deg) !important;
    transition: all 0.35s;
    z-index: 1;
}