html {
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

figcaption {
    font-size: 1.2vw;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.1vw;
    background-color:seashell;
}

#mobile {
    display: none;
}

#mobile h1 {
    font-size: 50px;
    text-align: center;
}

.inside-page {
    width: 100%;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(178, 178, 255);
}

.cover-page {
    width: 100%;
}

#overall-zine-container {
    display: flex;
    width: 90%;
    row-gap: 150px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.zine-annotated-section {
    --borderWidth: 3px;
    border-radius: var(--borderWidth);
    background: seashell;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    scroll-snap-align: center;
}

/* Animated border code from: https://codepen.io/mike-schultz/pen/NgQvGO */
.zine-annotated-section:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
  }

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center-zine-audio {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-zine-no-audio {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-annotations {
    text-align: right;
    padding: 10px;
    width: 20%;
    align-content: center;
}

.left-annotations {
    padding: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.annotations-cover-back {
    width: 30%;
}

.left-annotations img {
    width: 80%;
}

#overlay-container {
    position: relative;
}

#overlay-container a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(178, 178, 255, 0.9);
    overflow: hidden;
    width: 80%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}

ul {
    padding-inline-start: 20px;
    margin-block-start: 0em;
}

#overlay-container:hover .overlay {
    transform: scale(1);
}

a {
    color: rgb(243, 0, 186);
}

a:hover {
    background-color: rgb(178, 178, 255);
}

.text a {
    color: rgb(243, 0, 186);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

figure {
    text-align: center;
    background-color: rgba(100, 148, 237, 0.557);
    padding: 10px;
    border-radius: 10px;
}

#two-tarot-cards {
    display: flex;
    gap: 10px;
}

#two-tarot-cards img {
    width: 45%;
    border-radius: 10px;
}

#four-tarot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

#four-tarot-cards img {
    width: 40%;
    border-radius: 10px;
}

.right-annotations img {
    width: 80%;
}