/* #note {
    width: 100px;
} */

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}