@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

body {
    font-family: "Tagesschrift", system-ui;
    font-size: 1.1vw;
    background-color: #c4a5ce;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #8a7f8d;
}