@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite');

body {
    width: 90%;
    margin: 0 auto;
}

u {
    text-decoration: underline wavy var(--sapphire);
}

:root {
    --sapphire: rgb(64, 89, 173);
    --purple: rgb(196,165,206);
    --sage: rgb(144, 180, 148);
    --green: rgb(16, 73, 17);
    --icy: rgb(227, 233, 255);
    --water: rgb(172, 188, 245);
    --paper: rgb(246,238,227);
    --red: rgb(202, 60, 37);
    --dark: rgb(48, 25, 52);
    --white: rgb(249, 246, 238);
}

body {
    font-family: "Tagesschrift", system-ui;
    background-color: var(--purple);
}

h1 {
    font-size: 60px;
}

a {
    color: var(--green);
    text-decoration: var(--green) dotted underline;
}

a:hover {
    background-color: var(--sage);
    text-decoration: var(--green) dotted underline;
}