.book-on-shelf {
    font-size: 1.3vh;
    border: 1.5px solid var(--sapphire);
    border-radius: 2px;
    cursor: pointer;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    height: fit-content;
    padding: 1vh .5vw 1vh .5vw;
    background-color: var(--icy);
}

#add-note-div:hover {
    cursor: pointer;
    background-color: var(--sage);
}

.book-on-shelf:hover {
    background-color: var(--water);
}

#top-shelf {
    display: flex;
    align-items: flex-end;
    gap: 1.05px;
    position: absolute;
    width: 38.5%;
    height: 23.8%;
    top: 5.5%;
    left: 6.1%;
}

#middle-shelf {
    display: flex;
    align-items: flex-end;
    gap: 1.05px;
    position: absolute;
    width: 38.5%;
    height: 27%;
    top: 30.5%;
    left: 6.1%;
}

#bottom-shelf {
    display: flex;
    align-items: flex-end;
    gap: 1.1px;
    position: absolute;
    width: 38.5%;
    height: 23%;
    top: 60.5%;
    left: 6.1%;
}

#open-book-container {
    display: flex;
    width: 70%;
    border: 1px solid var(--green);
}

#open-book-details {
    display: flex;
    border: 1px solid var(--green);
    padding: 20px;
}

#new-library {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

#drawing {
    width: 100%;
    max-height: 87vh;
}

#book-modal {
    width: 70%;
    height: 88%;
    scale: 0.9;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--icy);
}

#book-modal::backdrop {
    backdrop-filter: blur(0.5px);
}

.board-button {
    cursor: pointer;
    font-family: "Special Elite", system-ui;
    font-size: 1.2vw;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#notes-button {
    background-color: var(--water);
}

#books-button {
    background-color: var(--sage);
}

#notes-button-toggled {
    cursor: default;
    color: var(--white);
    background-color: var(--sapphire);
}

#books-button-toggled {
    cursor: default;
    color: var(--white);
    background-color: var(--green);
}

#board-content h2 {
    margin-bottom: 10px;
}

#board-modal {
    overflow: hidden;
    width: 70%;
    height: 88%;
    scale: 0.9;
    border-radius: 5px;
    background-color: var(--icy);
}

#board-modal::backdrop {
    backdrop-filter: blur(0.5px);
}

#board-content {
    font-family: "Special Elite", system-ui;
    color: var(--white);
    background-color: var(--dark);
    padding: 20px;
    width: 85%;
    height: 90%;
    border-radius: 5px;
}

#board-buttons {
    display: flex;
    gap: 10px;
}

#board-book-logs {
    margin-top: 20px;
    overflow-y: scroll;
    flex-direction: column;
    height: 80%
}

#board-communal-notes-logs {
    margin-top: 20px;
    overflow-y: scroll;
    flex-direction: column;
    height: 80%;
}

#board-content p {
    font-size: 1.15vw;
}

#communal-note-info {
    font-size: 1.4vw;
    height: 80%;
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}


.opened-book-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#add-communal-note-button {
    margin-top: 50px;
    font-size: 25px;
    align-self: center;
}

#close-button {
    position: absolute;
    background: none;
    color: black;
    top: -8px;
    right: 0px;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.page-left {
    .page-content {
        text-align: center;
    }
}

h3 {
    text-decoration: underline wavy var(--sapphire);
    margin-bottom: 5px;
}

/* from W3 schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip */
.tooltiptext {
    font-size: 1.05vw;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#read-me-tooltip {
    width: 200px;
    bottom: 105%;
    left: 18%;
}

#add-book-tooltip {
    top: 5%;
    left: 115%;
}

.right::after {
    border-color: transparent #555 transparent transparent;
}

#info {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 2.5%;
    height: 5%;
}

#color {
    background-color: var(--purple);
}

#info-content {
    background-color: var(--sage);
    width: 90%;
    height: 90%;
    border-radius: 5px;
    padding: 20px;
    font-size: 25px;
    font-family: "Special Elite", system-ui;
}

#info-content p {
    font-size: 2vw;
}

#inline-info {
    display: inline-block;
    height: 1em;
}

#info-content h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#info-content h2 u {
    text-decoration: var(--green) dotted underline;
}

#info:hover {
    cursor: help;
}

#info-modal {
    width: 85%;
    height: 90%;
    scale: 0.9;
    border-radius: 5px;
    background-color: var(--icy);
}

/* arrow */
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#read-me {
    position: absolute;
    top: 47%;
    left: 52%;
    width: 9%;
    height: 22%;
}

#read-me:hover {
    cursor: alias;
}

#board:hover {
    cursor: zoom-in;
}

#add-book:hover {
    cursor: alias;
}

#read-me:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#board {
    position: absolute;
    top: 11%;
    left: 51%;
    width: 24%;
    height: 28%;
}

#add-book {
    position: absolute;
    top: 72%;
    left: 59.25%;
    width: 13%;
    height: 23%;
}

#add-book:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#add-book .tooltiptext::after {
    top: 45%;
    left: -3%;
    border-color: transparent #555 transparent transparent;
}

#close-button:focus {
    outline: none;
}

#not-wide-enough {
    flex-direction: column;
    background-color: var(--paper);
    margin: auto;
    margin-top: 20px;
    background-color: var(--paper);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

#not-wide-enough h1 {
    font-size: 30px;
    text-align: center;
}

#not-wide-enough p {
    font-size: 25px;
    text-align: center;
}

#overall {
    display: flex;
    gap: 10px;
    background-color: var(--paper);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-content h1 {
    margin-bottom: 10px;
}

.page-content h2 {
    margin-top: 5px;
}

#details {
    width: 70%;
}

#communal-notes-title {
    align-self: flex-end;
}

#add-communal-notes-title {
    align-self: flex-end;
}

#add-note-link {
    font-size: 20px;
}

#overall-add-communal-note-form {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    height: 90%;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--pink);
}

.hidden {
    display: none;
}

#notes-only {
    font-size: 1.15vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
}

#add-form-title-div {
    height: 15%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

#communal-notes-title-div {
    height: 15%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

#overall-communal-notes {
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    padding: 20px;
    width: 85%;
    height: 90%;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: var(--water);
}

/* book container */
#book {
    position: relative;
    width: 85%;
    height: 90%;
    perspective: 1500px;
    scale: 0.95;
}

.page-content p {
    margin-top: 10px;
}

/* book spine */
.book::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #8b4513;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#see-or-return {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-evenly;
    align-self: end;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    width: fit-content;
}

#return-to-book {
    width: fit-content;
    font-size: 1.4vw;
    justify-self: flex-end;
}

#see-notes-link-on-book-page, #add-note-link-on-book-page {
    font-size: 1.1vw;
}

#see-note-link {
    width: fit-content;
    font-size: 1.4vw;
    justify-self: flex-end;
}

#add-communal-note {
    width: fit-content;
    align-self: center;
}

textarea {
    height: 200px;
    margin-bottom: 10px;
    font-size: 1.2vw;
}

input {
    font-size: 20px;
}

#communal-note-form-container {
    font-size: 1.4vw;
    height: 100%;
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

/* book cover and pages container */
.book-cover {
    position: absolute;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
}

/* common page styles */
.page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--paper);
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform-style: preserve-3d;
    border-radius: 5px;
}

#book-img {
    width: 50%;
}

/* left page specific styles */
.page-left {
    padding: 10px;
    left: 0;
    transform-origin: right;
    border-right: 1px solid #ddd;
    transform: rotateY(15deg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* right page specific styles */
.page-right {
    right: 0;
    transform-origin: left;
    border-left: 1px solid #ddd;
    transform: rotateY(-15deg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* page content */
.page-content {
    font-size: 1.1vw;
    line-height: 1.6;
    color: #333;
    transform: translateZ(20px);
}

/* back cover */
.back-cover {
    position: absolute;
    width: 105%;
    height: 105%;
    left: -2.5%;
    top: -2.5%;
    background: #2e8b57;
    transform-style: preserve-3d;
    transform: translateZ(-2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#see-or-add-notes-on-book-page {
    font-size: 1.1vw;
}

#add-or-return {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-evenly;
    align-self: end;
}

#see-or-add-notes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* back cover sides */
.back-cover-left {
    border-radius: 3px;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #2e8b57;
    transform-origin: right;
    transform: rotateY(15deg);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.back-cover-right {
    border-radius: 3px;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #2e8b57;
    transform-origin: left;
    transform: rotateY(-15deg);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}